html {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}
.cartBody-container {
    display: grid;
    grid-template-rows: 106px auto 100px;
    #header-section {
        background-color: #ffff;
        box-shadow: 0px 0px 5px rgb(70, 70, 70);
        .spacer-bar {
            height: 2px;
            width: 100%;
            background: #D9C09F;
        }
        #nav-section {
            img {
                margin-left: 10px;
                width: 100px;
                height: 100px;
                cursor: pointer;
            }
            img:hover {
                cursor: pointer;
            }
            .hmb-menu {
                display: none;
            }
            .hmb-label {
                float: right;
                margin: 40px;
                cursor: pointer;
                display: flex;
                flex-direction: column;
                align-self: center;
                .bar {
                    background-color: #D9C09F;
                    margin: 2px;
                    height: 2px;
                    width: 19px;
                    border-radius: 5px;
                }
            }
            .nav-ul {
                position: absolute;
                max-height: 0;
                transition: max-height 0.3s ease;
                background-color: #D9C09F;
                overflow: hidden;
                width: 100%;
                z-index: 100;
                margin: 0px;
                li {
                    margin-top: 40px;
                    list-style: none;
                    a {
                        font-size: 1.2rem;
                        color: #ffff;
                        text-decoration: none;
                        font-family: 'Recoleta';
                    }
                }
            }
            #hmb-menu:checked ~ .nav-ul {
                max-height: 1000px;
                height: 100%;
                box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.233);
            }
            #hmb-menu:checked ~ .hmb-label .bar1 {
                transform: translate(0, 6.2px) rotate(45deg);
                transition: 0.2s ease-out;
                width: 20px;
            }
            #hmb-menu:checked ~ .hmb-label .bar2 {
                opacity: 0;
                transform: translate(-10px);
                transition: 0.2s;
            }
            #hmb-menu:checked ~ .hmb-label .bar3 {
                transform: translate(0, -6.2px) rotate(-45deg);
                transition: 0.2s ease-out;
                width: 20px;
            }
        }
    }
    #main-section {
        background: #bba69c;
        text-align: center;
        #productsSection {
            .product-container {
                background-color: #ffff;
                margin: 10px;
                padding: 10px;
                box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.233);
                .product {
                    margin: 10px;
                    img {
                        height: 240px;
                    }
                    p {
                        font-family: 'Recoleta';
                        letter-spacing: 2px;
                    }
                    button {
                        background: #D9C09F;
                        width: 30%;
                        border: none;
                        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.062);
                        color: #ffff;
                        font-family: 'Recoleta';
                        text-decoration: none;
                    }
                }
            }
        }
        button {
            background: rgb(248, 240, 228);
            width: 150px;
            height: 60px;
            border: none;
            border-radius: 2px;
            box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.397);
        }
        button:hover {
            cursor: pointer;
            transform: scale(1.02);
            transition: 0.2s;
        }
    }
    #footer-section {
        background: #ffff;
        border-top: 2px black;
        .spacer-bar {
            height: 2px;
            width: 100%;
            background: #D9C09F;
        }
        .footer-container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            img {
                height: 100px;
                width: 100px;
                cursor: pointer;
            }
            .social-logos {
                margin-right: 10px;
                align-self: center;
                a {
                    margin: 10px;
                    i {
                        color: #D9C09F;
                    }
                }
            }
        }
    }
}
@media all and (min-width: 768px) {
    .cartBody-container {
        grid-template-rows: 102px auto 100px;
        #header-section {
            #nav-section {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                .nav-logo {
                    img {
                        width: 80px;
                        height: 80px;
                        margin-left: 45%;
                    }
                }
                .hmb-label {
                    display: none;
                }
                .nav-ul {
                    position: relative;
                    background-color: rgba(255, 255, 255, 0);
                    max-height: 100px;
                    display: flex;
                    flex-direction: row;
                    width: 400px;
                    margin: 0px;
                    align-self: center;
                    justify-content: space-between;
                    margin-right: 20px;
                    li {
                        margin-top: 0px;
                        a {
                            color: #D9C09F;
                        }
                    }
                }
            }
        }
        #productsSection {
            .product-container {
                .product {
                    margin: 10px;
                     img {
                        height: 330px;
                     }
                }
            }
        }
    }
}
@media all and (min-width: 1024px) {
    .cartBody-container {
        grid-template-rows: 102px auto 100px;
        #nav-section {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .nav-logo {
                margin-left: 100px;
                img {
                    width: 70px;
                    height: 70px;
                    transform: scale(1.4);
                    transition: 0.5s;
                }
            }
            .nav-ul {
                margin: 0px;
                li {
                    list-style: none;
                    a {
                        text-decoration: none;
                    }
                }
                li:hover {
                    text-decoration: #D9C09F underline 2px;
                    transition: 0.5s;
                }
            }
        }
        #main-section {
            #productsSection {
                display: grid;
                grid-template-columns: 1fr 1fr;
                .product-container {
                    .product {
                        img {
                            height: 450px;
                        }
                        button {
                            cursor: pointer;
                            width: 200px;
                            height: 60px;
                            font-size: 1.2rem;
                        }
                        button:hover {
                            transform: scale(1.03);
                            transition: 0.2s;
                            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.301);
                        }
                    }
                }
            }
        }
        #footer-section {
            .footer-container {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                p {
                    color: #bba69c;
                    margin: 0;
                    margin-top: 9px;
                }
                p:hover {
                    transition: 0.2s;
                    color: #2F2A27;
                }
                .social-logos {
                    padding: 9px;
                }
                a{
                    color: #bba69c;
                    margin: 10px;
                }
                a:hover {
                    color: #2F2A27;
                    font-size: 17px;
                    transition: 0.2s;
                }
            }
        }
    }
}